<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<h1>Login</h1>
	<form method="post" action="{{ url_for('OTP') }}">
		<label for="OTP">OTP:</label>
		<input type="password" id="OTP" name="OTP" required>
        <input type="checkbox" onclick="passwordVisible()"> Show OTP
        <hr>
        <div style="text-align:center">
		<input type="submit" value="Login">
        </div>
	</form>

    <script>
        function passwordVisible() {
          var x = document.getElementById("OTP");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
    </script>
</body>
</html>